<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="de.mxs.reactnativemogeolocation">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
        <service android:name="de.mxs.reactnativemogeolocation.ReactNativeMoGeolocationService" />
    </application>
</manifest>

